.button-1 {
    align-items: center;
    border-radius: 18px;
    padding: 20px 25px;
    position: relative;
  }
  
  .button-1 .label-2 {
    font-family: var(--body-link2-font-family);
    font-size: var(--body-link2-font-size);
    font-style: var(--body-link2-font-style);
    font-weight: var(--body-link2-font-weight);
    letter-spacing: var(--body-link2-letter-spacing);
    line-height: var(--body-link2-line-height);
    margin-top: -2px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .button-1.property-1-3-hover {
    background-color: #9a1b76;
    display: inline-flex;
  }
  
  .button-1.property-1-3-default {
    border: 2px solid;
    border-color: #9a1b76;
    display: flex;
    gap: 2px;
    justify-content: space-around;
    width: 198px;
  }
  
  .button-1.property-1-3-hover .label-2 {
    color: var(--color-1);
  }
  
  .button-1.property-1-3-default .label-2 {
    color: #9a1b76;
  }
  